<div class="editor-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-10 offset-md-1 col-xs-12">
        <form>
          <fieldset>
            <fieldset class="form-group">
                <input type="text" [(ngModel)] = "newArticle.title" name ="title" class="form-control form-control-lg" placeholder="Article Title">
            </fieldset>
            <fieldset class="form-group">
                <input type="text" [(ngModel)] = "newArticle.description" name ="description" class="form-control" placeholder="What's this article about?">
            </fieldset>
            <fieldset class="form-group">
                <textarea class="form-control" [(ngModel)] = "newArticle.body" rows="8" name ="body" placeholder="Write your article (in markdown)"></textarea>
            </fieldset>
            <fieldset class="form-group">
                <input type="text" (keyup.enter)="addTag()" name ="tags" class="form-control" [(ngModel)] = "currentTag" placeholder="Enter tags"><div class="tag-list"></div>
              <div class="tag-list">
                <span  *ngFor="let tag of newArticle?.tagList"
                  class="tag-default tag-pill">
                  <i class="ion-close-round" (click)="removeTag(tag)"></i>
                  {{ tag }}
                </span>
               </div>
              </fieldset>
            <button class="btn btn-lg pull-xs-right btn-primary" (click) ="PostArticle()" type="button">
                Publish Article
            </button>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>